www/*
!www/config.xml
!www/js/spec/lib/*.js
!www/js/spec/index.html

components/*
platforms/*
!platforms/gitinclude
node_modules/*
plugins/
!plugins/gitinclude
Databases.db
instrumentscli*

.settings
.project
.DS_Store
.*.md.html
