<widget id="com.WidgetCorp.WidgetApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>WidgetApp</name>
  <description>
    An sample Apache Cordova + Backbone application.
  </description>
  <author email="mike@mcarter.me" href="http://mcarter.me">
    WidgetCorp team
  </author>
  <content src="cordova.html" />
  <access origin="*" />
  <preference name="Fullscreen" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="Orientation" value="portrait" />
</widget>
